.AboutUs-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.AboutUs-header h2 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 4em;
    text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 0.0625em;
}
.AboutUs-header h2 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 4em;
    text-align: center;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: 0.0625em;
}

.Large
{
    font-size: 14pt;
    height: 10px !important;
    rows: 3;
    width: 200px;
}
