@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  margin: 0;
  background: #e8edf3;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.footer {
     position: relative;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: #22264b;
     color: #e0e1e2;
     text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
 }
